main {
    background-color: var(--bg-color);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1em;
    width: 100%;
}

.location-search-input {
    width: 70%;
    max-width: 300px;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid black;
    text-indent: 17px;
}

.search-icon {
    background: url('../assets/search.svg') no-repeat left, #fff;
    padding-left: 25px;
    background-size: 20px;
}

.weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather-info-container>app-current-weather,
app-hourly-weather,
app-daily-weather,
app-alerts {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}