main {
    background-color: var(--bg-color);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: default;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1em;
    width: 100%;
}

.location-search-input {
    width: 70%;
    max-width: 300px;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid black;
}

.search-icon {
    background: url('/assets/search.svg') no-repeat left, #fff;
    padding-left: 25px;
    background-size: 20px;
}

.error-message-container {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.error-message {
    padding: 1em;
    color: red;
    background-color: white;
    border: 1px solid black;
    font-weight: 700;
    font-size: 0.8em;
}

.weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather-info-container>app-current-weather,
app-hourly-weather,
app-daily-weather,
app-alerts {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

.providers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.active-provider {
    cursor: default;
}

.inactive-provider {
    font-weight: 700;
    cursor: pointer;
}

.provider-header {
    font-weight: bold;
    font-size: 1.5em;
}

.provider-button {
    background-color: #fff;
    border: 1px solid black;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
}