.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1em;
}

.weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}