.component-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
}

.alerts-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    max-width: 375px;
    border: 1px solid black;
    border-radius: 5px;
}

.first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    gap: 1em;
    text-align: center;
}

.second-line {
    display: flex;
    justify-content: center;
    padding: .5em;
    text-align: left;
}

.second-line>p {
    width: 90%;
}

.headline {
    font-weight: 700;
    font-size: .95em;
    color: var(--utility-color);
    font-family: 'Lora', serif;
}

.instruction {
    font-size: .75em;
    color: var(--utility-color);
}

@media screen and (min-width: 376px) {
    .alerts-container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .alerts-container {
        width: unset;
        max-width: 600px;
    }
}