@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    font-display: swap;
    src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    src: url('./assets/fonts/HindMadurai-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Hind';
    src: url('./assets/fonts/HindMadurai-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Warbler Weather styles */
/* Make data-theme variables for 
- day (clear)
- night (clear)
- rain (rain, drizzle, sleet)
- cloudy (clouds, rain, thunder, fog, mist, thundery... other thunder codes accompany snow or rain)
- snowy (snow, freezing anything, hail)
*/

/* Utility color is used for the settings cog and alerts */
:root {
    --utility-color: #000000;
    --text-color: #000;
    --bg-color: #fff;
}

[data-theme="day"] {
    --utility-color: #000000;
    --text-color: #212121;
    --bg-color: #FFFDE7;
}

[data-theme="night"] {
    --utility-color: #00796B;
    --text-color: #70aeab;
    --bg-color: #212121;
}

[data-theme="rainy"] {
    --utility-color: #000000;
    --text-color: #09395b;
    --bg-color: #BBDEFB;
}

[data-theme="cloudy"] {
    --utility-color: #000000;
    --text-color: #434343;
    --bg-color: #CFD8DC;
}

[data-theme="snowy"] {
    --utility-color: #000000;
    --text-color: #cf4de7;
    --bg-color: #D1C4E9;
}

/* Global styles */
html,
body,
app-root,
main {
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    padding-bottom: 2em;
    min-height: 100vh;

}

h2 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

p {
    font-family: 'Hind', sans-serif;
}

.bold {
    font-weight: 700;
}

.text-var {
    color: var(--text-color);
}

[data-theme="night"] .settings-icon {
    filter: invert(19%) sepia(94%) saturate(4702%) hue-rotate(168deg) brightness(94%) contrast(105%) !important;
}